streamlit
requests
python-dotenv
PyPDF2
spacy

# This last line is special: it tells the server to also
# download the 'spacy' English model we need.
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl